<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DetailsInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DetailsInfo.Properties.Settings>
            <setting name="tablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="fileEncoding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="topMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encodingsLink" serializeAs="String">
                <value>https://docs.microsoft.com/ru-ru/dotnet/api/system.text.encoding?view=net-5.0#list-of-encodings</value>
            </setting>
            <setting name="needUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="archivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="machinePath" serializeAs="String">
                <value />
            </setting>
            <setting name="tempPath" serializeAs="String">
                <value />
            </setting>
            <setting name="refreshInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="autoRenameToMachine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="netLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="emailLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="emailPass" serializeAs="String">
                <value />
            </setting>
            <setting name="popServer" serializeAs="String">
                <value />
            </setting>
            <setting name="popPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fromAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="toAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="integratedImageViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ncAnalyzer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advancedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startProgramNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </DetailsInfo.Properties.Settings>
    </userSettings>
</configuration>